* {margin: 0; padding: 0;}
ul,li {margin: 0; padding: 0; list-style: none;}
a {text-decoration: none;}
body {font-family: 'NotoSans-Light', '맑은 고딕', 'Malgun Gothic', sans-serif;}
#wrap {width: 100%;}

/* header */
#wrap header{width: 100%; height: 147px; 
background: #fff; position: fixed; z-index: 999;
border-bottom:1px solid #ccc;
box-sizing: border-box;
 } 
#wrap header .tt {background: #f8f8f8; height:47px;
border-top: 1px solid #e1e1e1; border-bottom: 1px solid #e1e1e1;}
header .tt .tt_inner {width: 1170px; margin: 0 auto;}
header .tt .top_menu {position: relative;}
header .tt .top_menu ul.tl {width: 500px; display: flex; justify-content: space-evenly; float: left;}
header .tt .top_menu ul.tl li {line-height: 40px;}
header .tt .top_menu ul.tl li a {font-size: 15px;  color: #555;}
header .tt .top_menu ul.tl img {height: 32px; width: auto;}

header .tt .top_menu ul.tr {width: 180px; float: left;}
header .tt .top_menu ul.tr li {float: left;}
header .tt .top_menu ul.tr a {font-size: 15px;  color: #000;}

header .tt .top_menu ul.member {width: 150px; float: left;}
header .tt .top_menu ul.member li {float: left;}
header .tt .top_menu ul.member a {font-size: 15px;  color: #555;}

header .tt .lang {float: right;}
header .tt .lang a {font-size: 16px;  color: #555; font-weight: bold;}
header .tt .lang .block {display: none;}

#wrap header .header_inner {width: 1170px; margin: 0 auto; height:100px;}
#wrap header .header_inner .logo {width: 107px; height:100px; float: left;}
#wrap header .header_inner .logo img {margin-top: 10px;}

header .header_inner .menu {width: 700px; float: left; margin-left: 80px;}
header .header_inner .menu>ul {height: 100px; padding-top: 34px;}
header .header_inner .menu>ul>li {float: left; padding-left: 30px;}
header .header_inner .menu>ul>li>a {display: block; font-size: 18px; text-align: center; color: #000;}
header .header_inner .right_menu {width: 277px; float: left;}
header .header_inner .right_menu ul {float: right; margin-top: 30px;}
header .header_inner .right_menu ul li {float: left; padding-left: 20px;}


#wrap #slider{width: 100%; height:721px; overflow: hidden;} 
#wrap #slider .slider_inner {width: 100%; height:721px; position: relative; top: 147px;}
#wrap #slider .slider_inner ul img {width: 100%; position: absolute; top: 0; display: block; float: left;}

#wrap #slider .btn_sw {width: 100%;}
#wrap #slider .btn_sw button {width: 70px; height: 70px; border-radius: 50%;
   position: absolute; top: 30%; border: 1px solid #fff; background: none;}
#wrap #slider .btn_sw button.prev {left: 13%;}
#wrap #slider .btn_sw button.next {right: 13%;}


 /* info */
#wrap section.info{width: 100%; height:1300px; background: #fff;} 
#wrap section.info .info_inner {height:1300px ;}
#wrap section.info .info_inner .time {height: 80px; border-bottom: 1px solid #e1e1e1; text-align: center;}
#wrap section.info .info_inner .time img {width: 30px; height: 30px;}

#wrap section.info .info_inner .info_title {text-align: center; padding-top: 120px;}
section.info .info_inner .info_title .big {font-size: 40px; color: #000;}
section.info .info_inner .info_title .small {font-size: 18px; color: #555; margin-top: 30px;}
section.info .info_inner .box {height: 704px; margin-top: 60px;}
section.info .info_inner .box li {width: 25%; height: 352px; border: 1px solid #e1e1e1; box-sizing: border-box; float: left;display: block;}
section.info .info_inner .box li a {text-align: center;}
section.info .info_inner .box li a img {margin: 30px;}
section.info .info_inner .box li span {margin-left: 26px;}
section.info .info_inner .box li span.price {display: block;
  font-size: 18px; color: #550adf; margin-top: 30px;}
section.info .info_inner .box li span.tit {margin-top: 20px; font-size: 20px; font-weight: bold;}

section.info .info_inner .infoBtn {width: 222px; height: 56px; margin-left: 41%; margin-top: 60px;
  background: rgb(111, 35, 249); border-radius: 50px; text-align: center;}
section.info .info_inner .infoBtn p {font-size: 18px; line-height: 54px; color: #fff;}

/* play */
#wrap section.play{width: 100%; height:1072px; 
background: url("../images/mainCon2_bg_0317.jpg")no-repeat center/cover ;    
 } 
#wrap section.play .play_inner {height:1072px; }

section.play .play_inner .play_title {text-align: center; padding-top: 120px;}
section.play .play_inner .play_title .big {font-size: 40px; color: #fff;}
section.play .play_inner .play_title .small {font-size: 18px; color: #fff; margin-top: 30px;}

section.play .play_inner .roll {margin-top: 120px;}
section.play .play_inner .roll .pra_sw {position: relative; float: left; margin-right: 22px;}
section.play .play_inner .roll .pra_sw a span {font-size: 20px; color: #fff; position: absolute; top: 300px; left: 0;}

 /* event */
#wrap section.event{width: 100%; height:1274px; 
background: url("../images/mainCon3_bg.jpg")no-repeat center/cover ;    
 } 
#wrap section.event .event_inner {height:1274px; } 
section.event .event_inner .event_title {text-align: center; padding-top: 120px;}
section.event .event_inner .event_title .big {font-size: 40px; color: #000;}

 /* help */
#wrap section.help{width: 100%; height:1197px; 
background: #fff;    
 } 
#wrap section.help .help_inner {height:1197px; } 

section.help .help_inner .help_title {text-align: center; padding-top: 120px;}
section.help .help_inner .help_title .big {font-size: 40px; color: #000;}
section.help .help_inner .help_title .small {font-size: 18px; color: #555; margin-top: 30px;}

section.help .help_inner .M_news {border-top: 1px solid #e1e1e1; margin-top: 60px; padding-top: 50px;}
section.help .help_inner .M_news .top p {font-size: 22px; color: #000; font-weight: bold;}
section.help .help_inner .M_news .top ul {margin-top: 40px; display: flex; justify-content: space-evenly;}
section.help .help_inner .M_news .top ul li {width: 25%;}
section.help .help_inner .M_news .top ul li a img {margin-bottom: 30px;color: #000; font-size: 20px;}
section.help .help_inner .M_news .top ul li a span {color: #000; font-size: 20px;}

section.help .help_inner .M_news .bottom {margin-top: 50px;}
section.help .help_inner .M_news .bottom .news {width: 49%; box-sizing: border-box; border: 1px solid #e1e1e1; float: left;}
section.help .help_inner .M_news .bottom .app {width: 49%; float: right;}

 /* footer */
#wrap footer{width: 100%; height:390px; 
  background: #fff;   
  border-top:1px solid #ccc;
  box-sizing: border-box; 
 } 
#wrap footer .footer_inner {height:390px; padding-top: 50px;}
#wrap footer .footer_inner .bt {height: 35px; padding-bottom: 30px; border-bottom: 1px solid #e1e1e1;}
#wrap footer .footer_inner .bt .bmenu {width: 985px; float: left;}
#wrap footer .footer_inner .bt .bmenu ul {display: flex; justify-content: space-evenly;}
#wrap footer .footer_inner .bt .bmenu ul li a {color: #333;}
#wrap footer .footer_inner .bt .sns {width: 125px; float: right;}
#wrap footer .footer_inner .bt .sns ul {display: flex; justify-content: space-evenly;}


.info_inner, .event_inner, 
.help_inner, .footer_inner {
  width: 1170px; margin: 0 auto;
  border:1px solid #e1e1e1;
  box-sizing: border-box; 
} 
